<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/homepage.css'/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


    <script type="text/javascript" src="/javascripts/defineApp.js"></script>
    <script type="text/javascript" src="/javascripts/auth.js"></script>
    <script type="text/javascript" src="/javascripts/uploaded.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/homepageController.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>


    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sports Highlight Search</title>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-ng-app="home">
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">


            <div class="masthead clearfix">
                <div class="inner">
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="about">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Sports Highlight Search</h1>
                <div class="input-group-btn" data-ng-controller="homepageCtrl">
                    <form data-ng-submit="search()">
                        <input type="text" class="form-control" placeholder="Title" name="srch-term_2" id="title"
                               style="margin-top:10px">
                        <input type="text" class="form-control" placeholder="Description" name="srch-term" id="query"
                               style="margin-top:10px">
                        <input type="text" class="form-control" placeholder="Number of Results" name="srch-term_3" id="results"
                               style="margin-top:10px">
                        <button class="btn btn-default" type="submit" id="search-button" onclick="search()"><span
                                    class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>

                    <div id="login-container" class="pre-auth">

                        <a href="#" id="login-link">Login</a>
                    </div>
                </div>
                </p>
            </div>
            <table width="100%" border="1" id = "result_table">

            </table>
            <div id="search-container"></div>



        </div>

    </div>

</div>

</body>


</html>
